* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  padding: 40px;
  text-align: center;
  background-color: rgba(31, 30, 30, 0.7);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 25px;
}

.login h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
}
.login .user {
  position: relative;
}

.login .user input {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
}

.login .user label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #666;
  pointer-events: none;
  transition: 0.5s;
}

.login .user input:focus ~ label,
.login .user input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login button {
  position: relative;
  padding: 10px;
  color: #000;
  font-size: 15px;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 2px;
  margin-top: 30px;
  border-radius: 8px 16px;
}

.login button:hover,
.login:hover {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 16px 8px;
  box-shadow: 0 0 15px -2px #fff;
  transition: all 0.2s ease;
}

.forgot {
  color: #666;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  accent-color: #0000ff;
}
